.header-menu {
    width: Fixed (1,440px);
    height: Fixed (80px);
    padding: 0px, 120px, 0px, 120px;    
}
.list {
    list-style-type: none;
}
.first-screen {
    background: url(../hw4/images/first_screen.jpg) no-repeat fixed cover;
}