/* .header-menu {
    width: Fixed (1,440px);
    height: Fixed (80px);
    padding: 0px, 120px, 0px, 120px;    
}
.list {
    list-style-type: none;
}
.first-screen {
    background-image: url(images/First\ screen.png);
}  це не входить в домашку тому так лишу його*/