@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.attention {
  font-size: 2rem;
  color: red;
  text-align: center;
  margin-bottom: 2rem;
}
.attention__content {
  color: navy;
  font-weight: bold;
}
.descr {
  width: 90%;
  margin: auto;
  padding-top: 50px;
}
.descr__title {
  color: darkcyan;
  cursor: pointer;
  text-align: center;
}
.describe {
  padding: 1rem 0;
}
.hide {
  display: none;
}
.code {
  font-weight: bold;
  font-size: 1.1rem;
  color: red;
}
li {
  margin-bottom: 1rem;
}
