* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 50px;
}
.wrap {
  width: 80%;
  margin: 50px auto 0;
  padding: 100px 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
}
.box {
  width: 230px;
  height: 300px;
  background: #00b1b2;
  position: relative;
}
.box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  width: 230px;
  height: 300px;
  background: url(../i/logo.png) no-repeat;
}
.box_simple::before {
  content: "";
  background: none;
}
.box_transform {
  margin: auto;
  background: transparent;
}

.wrap-3d {
  position: relative;
  width: 250px;
  height: 350px;
  margin: auto;
  cursor: pointer;
}
.wrap-3d div {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.5);
  position: absolute;
}
.box-a {
  background-color: steelblue;
  background-image: url(../i/logo1.png);
  z-index: 100;
}

.box-b {
  background-color: lightcoral;
  background-image: url(../i/logo2.png);
}
