@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font: 1rem 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrap {
    flex: 1;
    padding-top: 56px;
}
.scroll-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav {
    padding: 1rem;
    background: lightcyan;
    box-shadow: 0 2px 3px rgba(0,0,0, .4);
    display: flex;
    justify-content: space-around;
}
.nav_footer {
    box-shadow: 0 -2px 3px rgba(0,0, 0, .4);
    justify-content: flex-end;
}
.nav__item {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}
.nav__item:hover {
    text-decoration: underline;
}
.nav__item_footer {
   margin-right: 1rem;
}
.nav__item_footer:last-of-type {
    margin-right: 0;
}

.section {
    padding: 1rem 0 35rem 0;
}
.section h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}
.home {
    background: #ccf;
}
.slider {
    background: #fcf;
}
.about-us {
    background: #cfc;
}
.testimonials {
    background: #fcc;
}
.gallery {
    background: lightgreen;
}
.contacts {
    background: lightyellow;
}

.active {
    color: red;
    font-weight: bold;
}

.pulse {
    animation: pulse 1s 3;
}
@keyframes pulse {
    50%{color: red;}
}