.gallery {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}
.teaser {
  margin-bottom: 0;
}
.teaser_lead {
  grid-column: 1;
  grid-row: span 2;
}
.teaser_top {
  grid-column: 2;
  grid-row: 1;
}
.teaser_bottom {
  grid-column: 2;
  grid-row: 2;
}
