@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu__item {
  margin-bottom: 0.7rem;
}
.menu__item a {
  text-decoration: none;
  color: navy;
}

.left {
  padding: 1rem;
  background: #faf;
}
.right {
  padding: 1rem;
  background: #cff;
}
/* ====================  */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 12px;
}
.menu {
  text-align: center;
}
.footer-title {
  text-align: center;
  color: green;
}
.menu {
  display: none;
}

@media (min-width: 601px) {
  .grid {
    display: grid;
    grid-template-columns: 220px 1fr;
  }
  .menu {
    text-align: initial;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .footer-title {
    text-align: left;
    color: red;
  }

  .footer-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: initial;
    margin: 0;
    padding: 0;
    list-style: 0;

    display: flex;
    gap: 30px;
  }
}
