.teaser {
  position: relative;
  margin-bottom: 20px;
}
.teaser__img {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
  height: 100%;
  object-fit: cover;
}
.teaser__figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
}
.teaser__title {
  color: cssvar(white);
  font-size: 1.2rem;
}
