/* don't remove these styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 20px;
}
.container {
  max-width: 1200px;
  margin: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin-bottom: 10px;
}
h2,
li:hover {
  cursor: pointer;
}

/* =============== todo =================*/
.container {
  max-width: 1200px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;?? */
  gap: 15px;
}
a {
  text-decoration: none;
}
.menu__item:hover {
  color: red;
}
.menu__item__first::before {
  content: "♠";
  margin-right: 5px;
}
.menu__item__second::before {
  content: "♣";
  margin-right: 5px;
}
.menu__item__third::before {
  content: "♥";
  margin-right: 5px;
}
.menu__item__fourth::before {
  content: "♦";
  margin-right: 5px;
}
.image-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.image-box__item {
  flex: 1;
}
.image-box__img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 395px;
}
h1 {
  text-align: center;
}
.nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.nav__item:hover {
  color: green;
  text-decoration: underline;
}
.nav__item:hover::after {
  content: "►";
  margin-right: 5px;
}
