.header-top {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  min-height: 460px;
  background: url(#{$i}bg.png) no-repeat;
  background-size: cover;
  position: relative;
}
.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slogan-box__title {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.slogan-box__content {
  font-size: 2.25em;
  color: #fff;
  margin: 0;
}
