.footer-box {
  padding: 2rem 1rem;
  min-height: 100px;
  background-color: #eee;
  margin-top: 3.5em;
}
.footer-box__copy {
  text-align: center;
}
.footer-box__date {
  padding: 0 1rem;
}
