html {
  font-size: cssvar(font-size);
}

body {
  color: cssvar(mainColor);
  font-size: 1rem;
  line-height: 1.5;
  font-family: cssvar(font-family);
  text-align: center;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: cssvar(headerFontFamily);
}
figure {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 12px;
}
.gallery-title {
  text-align: center;
}
