.main-nav {
  order: -1;
  margin-top: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  border: 1px solid #eee;
  border-radius: 0.25em;
}

.card__title {
  font-size: 2rem;
  color: cssvar(cardTitleColor);
  margin: 0.35em 0 0;
  line-height: 1.25;
}

%btn_info {
  color: cssvar(white);
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border-radius: 0.35rem;
  background-color: cssvar(redColor);
  margin-top: auto;
}

.btn_info {
  @extend %btn_info;
  font-size: 0.85em;
}
.btn_info:hover {
  opacity: 0.8;
}
.btn_callout {
  @extend %btn_info;
  font-size: 1.1rem;
}
.btn_callout:hover {
  opacity: 0.8;
}
